<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VGame Backend</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>                    
            </button>
            @Html.ActionLink("後端平台", "Index", "Home", null, new
            {
                @class = "navbar-brand"
            })
            @if(User.Identity.IsAuthenticated)
            {
                _Page_Views_Shared__Layout_cshtml.@Html.Action("Functions", "Home")
            }



        </div>

    </div>
</div>
<div class="container body-content">
    @RenderBody()
</div>
<div class="container body-content">
    <hr/>
    <footer>
        <p>版號 @App["Assembly"].GetName().Version.ToString() </p>

        <p>日期 @App["BuildDateTime"]</p>
        <p>&copy; @DateTime.Now.Year - 全竤科技</p>
    </footer>
</div>


</body>
</html>