@using Regulus.Utility
@using VGame.Project.FishHunter.Common
@using VGame.Project.FishHunter.Common.Data
@using EnumHelper = Regulus.Utility.EnumHelper
@model VGameWebApplication.Models.UpdateAccount
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>ID</td>
            <td>
                @Html.DisplayFor(m => m.TheAccount.Id)
                @Html.HiddenFor(m => m.TheAccount.Id)
            </td>
        </tr>
        <tr><td>帳號</td><td>@Html.EditorFor(m => m.TheAccount.Name)</td></tr>
        <tr><td>密碼</td><td>@Html.EditorFor(m => m.TheAccount.Password)</td></tr>

        @foreach (var t in EnumHelper.GetEnums<VGame.Project.FishHunter.Common.Data.Account.COMPETENCE>())
        {
            <tr>
                <td>
                    @t.GetEnumDescription()
            </td>
            <td>@Html.CheckBoxFor(m => m.TheAccount.Competnces[t])</td>
        </tr>
        }

    </table>

    <input type="submit" value="更新" class="btn btn-default" />
}