@model VGameWebApplication.FishHunterFormulaServiceReference.FormulaServiceClient

    @if (Model != null)
{
    var state = Model.GetState();
    <table class="table table-striped">
        <tr><td>計算</td><td>@state.CoreFps /秒</td><td></td></tr>
        <tr><td>處理</td><td>@state.PeerFps /秒</td><td></td></tr>

        <tr><td>連線數</td><td>@state.PeerCount</td><td></td></tr>

        <tr><td>等待請求</td><td>@state.WattToRead Package</td><td></td></tr>
        <tr><td>等待輸出</td><td>@state.WattToWrite Package</td><td></td></tr>

        <tr><td>每秒讀取</td><td>@state.ReadBytesPerSecond Bytes</td><td></td></tr>
        <tr><td>每秒寫入</td><td>@state.WriteBytesPerSecond Bytes</td><td></td></tr>

        <tr><td>總共讀取</td><td>@state.TotalReadBytes Bytes</td><td></td></tr>
        <tr><td>總共寫入</td><td>@state.TotalWriteBytes Bytes</td><td></td></tr>
    </table>
}    

           

